html,
html body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: @landing-font;
  font-size: @landing-font-size-p;
  @media @small-screen{ min-width: 1000px }
  @media @tablets{font-size: @landing-font-size-p-tablet; min-width: 0;}
  @media @smartphones{font-size: @landing-font-size-p-mobile;min-width: 0;}
}
h1
{
  font-family: @landing-font;
  font-size: @landing-font-size-h1;
  @media @tablets{font-size: @landing-font-size-h1-tablet;}
  @media @smartphones{font-size: @landing-font-size-h1-mobile;}
}
h2
{
  font-family: @landing-font;
  font-size: @landing-font-size-h2;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 26px;
  color: @landing-color-grey;
  @media @tablets{font-size: @landing-font-size-h2-tablet;}
  @media @smartphones{font-size: @landing-font-size-h2-mobile;}
}
.end-col
{
  clear: both;
}

/*
 * CSS HEADER
 */
#bgvid
{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(0%) translateY(0%);
  @media @tablets-portrait
  {
    transform: translateX(-30%) translateY(0%);
  }
  @media @tablets-landscape
  {
    transform: translateX(-30%) translateY(-10%);
  }
  @media @smartphones-portrait
  {
    transform: translateX(-30%) translateY(-30%);
  }
}
#bloc_video
{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#header
{
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  .mixin-background-color-opacity(10,10,10,0.5);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding-top: @landing-margin-logo-top;
  font-size: @landing-font-size-p-header;
  @media @tablets{ font-size: @landing-font-size-p-header-tablet; }
  @media @smartphones{ font-size: @landing-font-size-p-header-mobile; }
}
#switch_language_landing
{
  width: auto;
  position: absolute;
  top: 40px;
  right: 40px;
  @media @smartphones-portrait
  {
    top: 10px;
    right: 15px;
  }
}
#switch_language_landing ul
{
  //display: flex;
  list-style: none;
  //flex-direction: row;
}
#switch_language_landing ul li
{
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  text-transform: uppercase;
  border-right: 1px solid #fff;
  @media @smartphones-portrait
  {
    padding: 0 5px;
  }
}
#switch_language_landing ul li:last-child
{
  border-right: none;
}
#switch_language_landing ul li a
{
  color: #fff;
  font-size: 14px;
  @media @smartphones-portrait
  {
    font-size: 12px;
  }
}
#switch_language_landing ul li.active a
{
  color: lighten(@landing-color-grey,20%);
}
#logo
{
  display: block;
  width: 275px;
  margin: 0 auto @landing-margin-logo auto;
  @media @tablets{ margin: @landing-margin-logo-tablet auto @landing-margin-logo-tablet auto; }
  @media @tablets-landscape{ margin: @landing-margin-logo auto; }
  @media @smartphones{ width: 55%; }
}
#header-content
{
  width: @landing-wrapper; //WRAPEP1R
  margin: 0 auto;
  text-align: center;
  @media @small-screen{ width: 95% }
  @media @tablets{ width: @landing-wrapper-mobile; }
  @media @smartphones{ width: @landing-wrapper-mobile; }
}
#header-content h1,
#header-content p
{
  margin-bottom: 35px;
  @media @tablets{ margin-bottom: 35px; }
  @media @smartphones{ margin-bottom: 15px; }
}
#btn-scroll-down
{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2.5rem;
  display: none;
}
#btn-scroll-down i
{
  color: #FFF;
  margin-top: 17px;
}

#banner-header-bloc
{
  width: @landing-wrapper;
  margin: 1% auto 0 auto;
  height: 180px;
  @media @small-screen{ width: 95% }
  @media @tablets
  {
    height: auto;
    margin-top: 30px;
  }
  @media @smartphones
  {
    height: auto;
    margin-top: 30px;
  }
}
#banner-header-bloc > a
{
  display: block;
  height: 100%;
}
#banner-header-bloc > a > img
{
  width: 100%;
  .mixin-vertical-align(relative);
}

#banners-header-bloc
{
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  @media @smartphones
  {
    margin-top: 0;
  }
}
#banners-header-bloc > div
{
  flex: auto;
}
#banners-header-bloc > div img
{
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

#btn-header-group
{
  width: @landing-wrapper;
  margin: 0 auto;
  display: none; /* CACHER LES BOUTONS */
}
#btn-header-group > .btn-header
{
  width: 48%;
  padding: 15px 20px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 17px;
}
#btn-header-group > .btn-header.white-btn
{
  float: left;
  color: @landing-color-grey;

}
#btn-header-group > .btn-header.green-btn
{
  float: right;
  background-color: @landing-color-green;
  border-color: @landing-color-green;
  color: white;
}

#icon-scroll-down
{
  display: flex;
  bottom: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

#icon-scroll-down div
{
  width: 50%;
  flex: auto;
  cursor: pointer;
  position: relative;
}

#icon-scroll-down div img.logo
{
  display: block;
  width: 20%;
  margin: 0 auto;
}
#icon-scroll-down div img.icon_arrow
{
  display: block;
  width: 3%;
  margin: 40px auto 0 auto;
  /*-webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0*/
  animation: MoveUpDown 1s linear infinite;
  position: relative;
  bottom: 0;
}

/*@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}*/

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}

/*
 *
 */
.quicklink-content
{
  width: 100%;
  display: flex;
}

.quicklink-content .quicklink-bloc
{
  width: 50%;
  flex: auto;
  color: #fff;
  font-weight: normal;
  text-align: center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  cursor: pointer;
}

.quicklink-content .quicklink-bloc p
{
  display: block;
  font-size: 18px;
  font-weight: 400 !important;
  margin-bottom: 5px;
}

.quicklink-content .quicklink-bloc p:after
{
  display: block;
  content: '';
  margin: 0 auto;
  width: 0%;
  height: 5px !important;
  background-color: @landing-color-red;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: all 0.5s;
}

.quicklink-content .quicklink-bloc:hover p:after
{
  width: 5%;
}

.quicklink-content .quicklink-bloc.swisspeak-quicklink p
{
  color: #333;
}

.quicklink-content .quicklink-bloc img.first
{
  width: 45%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.quicklink-content .quicklink-bloc img.second
{
  width: 20%;
  display: block;
  margin: 0 auto;
}

/*
 * CSS CONTENT
 */
.landing-content
{
  width: 100%;
  padding: 120px 100px;
  @media @tablets{ padding: 60px 30px; }
  @media @smartphones{ padding: 60px 30px; }
}
.landing-content:nth-child(2)
{
  background-color: @landing-color-grey-light;
}
.landing-content:nth-child(1),
.landing-content:nth-child(3)
{
  background-color: #fff;
}
.landing-content .wrapper-content
{
  display: flex;
  width: @landing-wrapper;
  margin: 0 auto;
  flex-direction: row;
  @media @small-screen{ width: 95% }
  @media @tablets
  {
    width: @landing-wrapper-mobile;
    flex-direction: column;
  }
  @media @smartphones
  {
    width: @landing-wrapper-mobile;
    flex-direction: column;
  }
}
.landing-content .wrapper-content .col-50
{
  flex: auto;
  width: 50%;
  @media @tablets{ width: 100% !important; }
  @media @smartphones{ width: 100% !important; }
}
.landing-content .wrapper-content .col-50.col-image
{
  flex: auto;
  width: 40%;
  @media @tablets{ width: 100% !important; }
  @media @smartphones{ width: 100% !important; }
}
.landing-content .wrapper-content .col-50.col-txt.left h2,
.landing-content .wrapper-content .col-50.col-txt.left p
{
  padding-right: 2rem;
  @media @tablets{ padding-right: 0rem; }
  @media @smartphones{ padding-right: 0rem; }
}
.landing-content .wrapper-content .col-50.col-txt.right h2,
.landing-content .wrapper-content .col-50.col-txt.right p
{
  padding-left: 2rem;
  @media @tablets{ padding-left: 0rem; }
  @media @smartphones{ padding-left: 0rem; }
}
.landing-content .wrapper-content .col-50.col-image > img
{
  width: 100%;
}
@media @tablets
{
  .landing-content .wrapper-content .col-50.col-txt
  {
    order: 2;
    text-align: center;
  }
  .landing-content .wrapper-content .col-50.col-image
  {
    order: 1;
    margin-bottom: 30px;
  }
}
@media @smartphones
{
  .landing-content .wrapper-content .col-50.col-txt
  {
    order: 2;
    text-align: center;
  }
  .landing-content .wrapper-content .col-50.col-image
  {
    order: 1;
    margin-bottom: 30px;
  }
}
/*
 * FOOTER CSS
 */
#list-logos
{
  width: 100%;
  padding: 120px 134px;
  background-color: @landing-color-grey-light;

  @media @tablets{ padding: 60px 0px; }
  @media @smartphones{ padding: 60px 0px; }
}
#list-logos > ul.wrapper-list_logo
{
  display: flex;
  width: @landing-wrapper;
  margin: 0 auto;
  list-style: none;
  @media @small-screen{ width: 95% }
  @media @tablets{ width: @landing-wrapper-mobile; }
  @media @smartphones{ width: @landing-wrapper-mobile; }
}
#list-logos > ul.wrapper-list_logo li
{
  width: 16%;
  flex: auto;
  list-style: none;
}
#list-logos > ul.wrapper-list_logo li img
{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
#landing-interhome
{
  display: none;
  margin: 40px auto 0 auto;
}
#banner-footer
{
  width: 100%;
  padding: 35px 0;
  background-color: @landing-color-green;
}
#banner-footer img
{
  width: 35%;
  display: block;
  margin: 0 auto;
  @media @smartphones
  {
    width: 70%;
  }
}
#copyright
{
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 10px 0 5px 0;
  background-color: @landing-color-grey;
  color: @landing-color-grey-light;
}