// Landing page variables DESKTOP
@landing-font: 'Montserrat', sans-serif;
@landing-font-size-h1: 48px;
@landing-font-size-h2: 37px;
@landing-font-size-p-header: 20px;
@landing-font-size-p: 18px;
@landing-margin-logo-top: 3%;
@landing-margin-logo: 5%;
@landing-wrapper: 60%;

// Landing page variables TABLET
@landing-font-size-h1-tablet: 38px;
@landing-font-size-h2-tablet: 27px;
@landing-font-size-p-header-tablet: 16px;
@landing-font-size-p-tablet: 14px;
@landing-wrapper-tablet: 90%;
@landing-margin-logo-tablet: 10%;


// Landing page variables MOBILE
@landing-font-size-h1-mobile: 30px;
@landing-font-size-h2-mobile: 20px;
@landing-font-size-p-header-mobile: 14px;
@landing-font-size-p-mobile: 12px;
@landing-wrapper-mobile: 90%;

@landing-color-red: #cd0529;
@landing-color-green: #00584a;
@landing-color-grey: #656664;
@landing-color-grey-light: #e6e7e6;