html,
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#header {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding-top: 128px;
}
#logo {
  width: 275px;
  margin: 128px auto;
}
