<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}" />
        {{ function('wp_head') }}
        <link rel="stylesheet" href="{{ theme_directory_uri }}/style.css" type="text/css" />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60591190-5', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id="bloc_video">
            <video poster="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/preview.jpg" id="bgvid" playsinline autoplay muted loop>
                <source src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/Website-Banner_01.webm" type="video/webm">
                <source src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/Website-Banner_01.mp4" type="video/mp4">
                <source src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/Website-Banner_01.ogv" type="video/ogv">
            </video>
        </div>
        <header style="" id="header">
            {{ language_switcher }}
            <img id="logo" src="{{ theme_directory_uri }}/images/logo.png" alt="Swisspeak Resort" />
            <section id="header-content">

                {% if post.post_title != false %}
                    <h1>{{ post.post_title }}</h1>
                {% endif %}

                {% if post.post_content != false %}
                    <p>{{ post.post_content }}</p>
                {% endif %}

                <section id="btn-header-group">
                    <a class="btn-header white-btn" href="http://google.ch/">Envie de plus d’informations ?</a>
                    <a class="btn-header green-btn" href="http://google.ch/">Inscrivez-vous à la newsletter</a>
                    <div class="end-col">&nbsp;</div>
                </section>

                <!--<section id="banner-header-bloc">
                    <a target="_blank" href="http://www.google.ch/" title="Ouverture bientôt">
                        <img class="banner-header" src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/banner.jpg" alt="Banner hiver 2017" />
                    </a>
                </section>-->
                <!--<section id="banners-header-bloc">
                    <div>
                        <a target="_blank" href="http://mountain-resort.ch/projet/swisspeak-resort-vercorin/" title="Swisspeak Resort Vercorin">
                            <img class="banner-header" src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/SwissPeak_accueil_pave_Vercorin.jpg" alt="Banner hiver 2017" />
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="http://www.pradasresort.ch/" title="Pradas Resort">
                            <img class="banner-header" src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/SwissPeak_accueil_pave_Pradas.jpg" alt="Banner hiver 2017" />
                        </a>
                    </div>
                </section>-->

                <section id="icon-scroll-down">
                    <div class="icon-header">
                        <img class="logo" src="{{ theme_directory_uri }}/images/scroll-icon_Hiver_2017.png" />
                        <img class="icon_arrow" src="{{ theme_directory_uri }}/images/SP_arrow_1.png" />
                    </div>
                    <div class="icon-header">
                        <img class="logo" src="{{ theme_directory_uri }}/images/scroll-icon_Welcome_Brigels.png" />
                        <img class="icon_arrow" src="{{ theme_directory_uri }}/images/SP_arrow_1.png" />
                    </div>
                </section>

            </section>
        </header>

        <section id="quicklink-resort" class="quicklink-content">
            <div class="quicklink-bloc swisspeak-quicklink" style="background-image: url('{{ theme_directory_uri }}/images/SP_banner_background_hiver.png');" data-url="https://www.interhome.com/switzerland/valais/vercorin/?arrivaldate=2017-12-11">
                <p class="label">{{ label_vercorin }}</p>
                <img src="{{ theme_directory_uri }}/images/Vercorin_opening-soon.png" class="first" />
                <img src="{{ theme_directory_uri }}/images/logo_vercorin.png" class="second" />
            </div>
            <div class="quicklink-bloc pradas-quicklink" style="background-image: url('{{ theme_directory_uri }}/images/SP_banner_background_ete.png');" data-url="http://pradasresort.ch/">
                <p class="label">{{ label_pradas }}</p>
                <img src="{{ theme_directory_uri }}/images/Brigels_welcome.png" class="first" />
                <img src="{{ theme_directory_uri }}/images/Pradas_logo_white.png" class="second" />
            </div>
        </section>

        <div class="main">

            {% if has_sub_field %}
                {% for content_bloc in get_content_blocs %}
                    <section class="landing-content">
                        <div class="wrapper-content">
                            {% if content_bloc.position_picture == "left" %}
                                <div class="col-50 col-image left">
                                    <img src="{{ content_bloc.bloc_picture.url }}" alt="{{ content_bloc.bloc_title }}" />
                                </div>
                                <div class="col-50 col-txt right">
                                    <h2>{{ content_bloc.bloc_title }}</h2>
                                    {{ content_bloc.bloc_content }}
                                </div>
                            {% else %}
                                <div class="col-50 col-txt left">
                                    <h2>{{ content_bloc.bloc_title }}</h2>
                                    {{ content_bloc.bloc_content }}
                                </div>
                                <div class="col-50 col-image right">
                                    <img src="{{ content_bloc.bloc_picture.url }}" alt="{{ content_bloc.bloc_title }}" />
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {% endfor %}
            {% endif %}
        </div>
        <footer>
            {% if has_sub_list_logos %}
                <section id="list-logos">
                    <ul class="wrapper-list_logo">
                    {% for get_logo in get_list_logos %}
                        <li>
                            <img src="{{ get_logo.logo.url }}" alt="{{ get_logo.logo_label }}" />
                        </li>
                    {% endfor %}
                    </ul>
                    <img id="landing-interhome" src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/interhome.png" alt="Banner hiver 2017" />
                </section>
            {% endif %}
            <!--<section id="banner-footer">
                <a target="_blank" href="http://www.google.ch/" title="Ouverture bientôt">
                    <img class="banner-header" src="http://swisspeakresorts.com/wp/wp-content/uploads/2017/03/banner.jpg" alt="Banner hiver 2017" />
                </a>
            </section>-->
            <section id="copyright">
                <p>GEFISWISS Copyright &copy; {{ year }}</p>
            </section>
        </footer>
        <script>
            window.$ = jQuery;

            $(document).ready(function(){
                $('#btn-scroll-down').click(function(){
                    $('html, body').animate({ scrollTop:  $(window).height() });
                });
                $('.icon-header').click(function(){
                    $("html, body").animate({ scrollTop: $('#quicklink-resort').height() }, 1000);
                });
                $('.quicklink-bloc').click(function(){
                    var url = $(this).attr('data-url');
                    window.open(url, "_blank");
                })
            });

        </script>
        {{ function('wp_footer') }}
    </body>
</html>